<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Hack the blog</a>
    <div class="d-flex flex-direction-column align-items-center" id="">
      <% if(user){ %>
      <a class="btn-navbar btn-orange" href="/admin/userProfile">Profile</a>
      <a class="btn-navbar btn-orange" href="/admin/users">Users</a>
      <a class="btn-navbar btn-orange" href="/admin">Admin</a>
      <a class="btn-navbar btn-red" href="/logout">Logout</a>
      <% }else{ %>
      <a class="btn btn-success" href="/login">Login</a>

      <% } %>
    </div>
  </div>
</nav>
