/* SELECTOR GLOBAL: "A ABSOLUTAMENTE TODAS LAS ETIQUETAS..." */
* {
  box-sizing: border-box;
  margin: 0; /* PONER MARGIN 0 PARA QUE TODAS LAS ETIQUETAS QUEDEN RESETEADAS */
}

.hack {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;

  margin-right: 30%;
}

.titleHack {
  font-family: Open Sans;
  font-size: 75px;
  font-weight: 800;
  line-height: 109px;
  letter-spacing: 0em;
  text-align: center;
}

.subtitleHack {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

.imgHero {
  width: 100%;
  height: 400px;
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 0px !important;
}
.articleInAdmin {
  box-sizing: border-box;
  max-width: 300px;
}

.artTitle {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 800;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}

.artTitle,
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

.artSmall {
  font-family: Lora;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 1rem !important;
  color: #76757d;
}

.list-img img {
  width: 10rem;
}

.list-content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.btn-navbar {
  outline: none;

  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: #f5f0ec;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.btn-navbar:hover {
  background-color: #b6b6b6;
  color: white;
}

.btn-orange {
  background-color: #ff851b;
}

.btn-red {
  background-color: #cc3737;
}

.btn-green {
  background-color: #069c44;
}
